body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(61, 61, 119);
}

button {
    border: none;
    border-radius: 4px;
    color: white;
    padding: 4px 8px;
    cursor: pointer;
}

